
@{
    ViewBag.HakkimdaAktif = "";
    ViewBag.OzetBilgiAktif = "";
    ViewBag.YetenekAktif = "";
    ViewBag.ReferansAktif = "";
    ViewBag.BanaUlasinAktif= "";
   
 
    }
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light stroke">
            <a class="navbar-brand" href="/User/Index">
                <span> Özgeçmiş Sayfam</span>
            </a>

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa icon-expand fa-bars"></span>
                <span class="fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item @ViewBag.HakkimdaAktif">
                        <a class="nav-link" href="#AboutSection">Hakkımda</a>
                    </li>
                    <li class="nav-item portfolio__active @ViewBag.OzetBilgiAktif">
                        <a class="nav-link" href="#Summary">Özet Bilgi</a>
                    </li>
                    <li class="nav-item portfolio__active @ViewBag.YetenekAktif">
                        <a class="nav-link" href="#Skills">Yeteneklerim</a>
                    </li>
                    <li class="nav-item portfolio__active @ViewBag.SertifikaAktif">
                        <a class="nav-link" href="#Crt">Sertifikalarım</a>
                    </li>
                    <li class="nav-item portfolio__active @ViewBag.ReferansAktif">
                        <a class="nav-link" href="#MyReferences">Referanslarım</a>
                    </li>
                    <li class="nav-item c__active @ViewBag.BanaUlasinAktif ">
                        <a class="nav-link" href="#Contact">Bana Ulaşın</a>
                    </li>
                </ul>
            </div>


            <div class="mobile-position ml-lg-2">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
        </nav>
    </div>
</header>